code,
.md-fences {
    background-color: #414141;
    border: 1px solid #7e7e7e;
    border-radius: 5px;
    padding: .15em .3em;
    margin: 0 .3em;
}

.md-fences {
    margin-bottom: 10px;
}

.CodeMirror div.CodeMirror-cursor {
    border-left: var(--window-border);
}

.cm-s-inner .cm-keyword {
    color: #C792EA;
}

.cm-s-inner .cm-operator {
    color: #89DDFF;
}

.cm-s-inner .cm-variable-2 {
    color: #EEFFFF;
}

.cm-s-inner .cm-variable-3,
.cm-s-inner .cm-type {
    color: #f07178;
}

.cm-s-inner .cm-builtin {
    color: #FFCB6B;
}

.cm-s-inner .cm-atom {
    color: #F78C6C;
}

.cm-s-inner .cm-number {
    color: #FF5370;
}

.cm-s-inner .cm-def {
    color: #82AAFF;
}

.cm-s-inner .cm-string {
    color: #C3E88D;
}

.cm-s-inner .cm-string-2 {
    color: #f07178;
}

.cm-s-inner .cm-comment {
    color: #585d6d;
}

.cm-s-inner .cm-variable {
    color: #f07178;
}

.cm-s-inner .cm-tag {
    color: #FF5370;
}

.cm-s-inner .cm-meta {
    color: #FFCB6B;
}

.cm-s-inner .cm-attribute {
    color: #C792EA;
}

.cm-s-inner .cm-property {
    color: #C792EA;
}

.cm-s-inner .cm-qualifier {
    color: #DECB6B;
}

.cm-s-inner .cm-variable-3,
.cm-s-inner .cm-type {
    color: #DECB6B;
}

.cm-s-inner .cm-error {
    color: rgba(255, 255, 255, 1.0);
    background-color: #FF5370;
}

.code-tooltip {
    font-size: 1.2em;
    font-weight: 900;
}

.code-tooltip span.ty-input {
    color: #7bd4fc;
}

.md-fences .code-tooltip {
    top: 0;
    right: 0;
    bottom: unset;
    background-color: #2d2d2d;
    border-radius: 5px;
}

.code-tooltip .ty-input,
.code-tooltip input {
    line-height: 1;
}