:root {
    --bg-color: #2a2627;
    --text-color: #e9e9e9;
    --md-char-color: var(--toxic-theme-color-other);
    --meta-content-color: #006acc;

    --primary-color: #006acc;
    --primary-btn-border-color: #ffffff;
    --primary-btn-text-color: #ffffff;

    --window-border: 1px solid #000000;

    --active-file-bg-color: #eee;
    --active-file-text-color: inherit;
    --active-file-border-color: #777;

    --side-bar-bg-color: #444444;
    --item-hover-bg-color: #006acc;
    --item-hover-text-color: #ffffff;
    --monospace: monospace;

    --toxic-theme-color: #006acc;
    --toxic-theme-color-other: #6eb5f7;

    --select-text-bg-color: #87bfff;
    --select-text-font-color: #000000;

    --monospace: Consolas;
}

html,
body,
#write {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: MiSans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
}

html {
    font-size: 16px;
}

#write {
    max-width: 900px;
}

h1 {
    line-height: 4rem;
    margin: 5rem 0 1.5rem;
}

h1:hover::after {
    content: "H1";
    position: absolute;
    width: 50px;
    top: 0px;
    left: -50px;
    color: rgb(95, 32, 32);
    text-align: right;
}

h2 {
    line-height: 3rem;
    margin: 2rem 0 1.5rem;
}

h2:hover::after {
    content: "H2";
    position: absolute;
    width: 50px;
    top: 0px;
    left: -50px;
    color: rgb(95, 32, 32);
    text-align: right;
}

h3 {
    margin: 1rem 0 1.5rem;
}

h3:hover::after {
    content: "H3";
    position: absolute;
    width: 50px;
    top: 0px;
    left: -50px;
    color: rgb(95, 32, 32);
    text-align: right;
}

h4 {
    margin: 1rem 0 1rem;
}

h4:hover::after {
    content: "H4";
    position: absolute;
    width: 50px;
    top: 0px;
    left: -50px;
    color: rgb(95, 32, 32);
    text-align: right;
}

h5 {
    margin: 1rem 0 1rem;
}

h5:hover::after {
    content: "H5";
    position: absolute;
    width: 50px;
    top: 0px;
    left: -50px;
    color: rgb(95, 32, 32);
    text-align: right;
}

h6 {
    margin: 1rem 0 1rem;
}

h6:hover::after {
    content: "H6";
    position: absolute;
    width: 50px;
    top: 0px;
    left: -50px;
    color: rgb(95, 32, 32);
    text-align: right;
}

p {
    line-height: 1.75rem;
    margin: 0 0 1.25rem;
}

a {
    color: #006acc;
    font-weight: 800;
}

a:hover {
    color: #004d95;
}

.md-link:active a {
    color: #fd3e81;
}

mark {
    background-color: #ff4400;
    color: #ffffff;
    font-weight: 900;
    padding-left: .3em;
    padding-right: .3em;
}

blockquote {
    margin: 0;
    background-color: var(--toxic-theme-color-other);
    color: #000000;
    border-radius: 5px;
    border-left: 5px solid var(--toxic-theme-color);
    padding: 10px 20px;
}

blockquote p {
    line-height: 1.5rem;
    margin-bottom: .7rem;
}

.md-rawblock-on-edit>.md-rawblock-tooltip, .md-rawblock:hover>.md-rawblock-container, .md-rawblock:hover>.md-rawblock-tooltip {
    background: #252324;
}

.md-rawblock-control:not(.md-rawblock-tooltip) {
    background-color: #252324;
}
