table,
tr,
td,
th {
    border: 1px solid #dcdcdc;
}

table thead {
    background-color: var(--toxic-theme-color-other);
    color: #cacaca;
}

thead th,
tbody td {
    padding: 5px 10px;
}

table tr td {
    background-color: #323232;
}

table tr:nth-child(2n) td {
    background-color: #414141;
}